.main-box {
    margin: 50px auto;
    border: 2px solid #dbdbdb;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
}

.title-box {
    margin: 10px auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding: 10px;
    width: 400px;  
}

.button-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding: 10px;
    width: 400px;  
}

.display-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding: 10px;
    width: 400px;  
    
}